body{
  background-color: #695e5d;
  text-align: center
}

.drums button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  margin: 10px 5px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.drums button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.drums:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.drums button:hover {
  background-color: #3e8e41;
}
